<h1><%= @topic.title %></h1>
<%= link_to "edit", edit_topic_path(@topic) %> | 
<%= link_to "delete", topic_path(@topic), method: "delete",
      confirm: "Permenantely delete topic?" %> <br />
<div class="row">
  <div class="span8">
    <%= @topic.body.html_safe %>
  </div>
</div>
