<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">Mokka Developers</a>
      <ul class="nav pull-right">
        <li> <a href="#">Sign Out</a> </li>
      </ul>
    </div>
  </div>
</div>
